<h1>All Messages</h1>
<% if @messages.any? %>
  <hr>
  <% @messages.each do |message| %>
    <h3>To: <%= message.to %> - From: <%= message.from %></h3>
    <p><%= message.body %></p>
    <hr>
  <% end %>
<% end %>

<%= link_to "New message", new_message_path %>
