---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/AC8ef56de219e873a3e78f6ab09adfa04a/Messages.json
    body:
      encoding: US-ASCII
      string: Body=hi&To=1111111&From=5039463641
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
      Authorization:
      - Basic QUM4ZWY1NmRlMjE5ZTg3M2EzZTc4ZjZhYjA5YWRmYTA0YTo4M2JhMGUzMjA2NjNiNjg3NzI4MDg2NWJjYjZjZDJiOA==
  response:
    status:
      code: 400
      message: BAD REQUEST
    headers:
      Content-Type:
      - application/json
      Twilio-Request-Duration:
      - '0.090'
      Twilio-Request-Id:
      - RQb3233f55050b48fbb192cd0d274fa0dc
      X-Shenanigans:
      - none
    body:
      encoding: UTF-8
      string: '{"code": 21212, "message": "The ''From'' number 5039463641 is not a
        valid phone number, shortcode, or alphanumeric sender ID.", "more_info": "https://www.twilio.com/docs/errors/21212",
        "status": 400}'
  recorded_at: Mon, 27 Feb 2017 17:47:09 GMT
recorded_with: VCR 3.0.3
